.topicContainer {
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 30px;
  margin-top: 20px;
}

.tagsList {
  padding-left: 2px;
}

.tagsList li.tagItem {
  font-size: 15px;
  margin: 0 5px 5px 0;
}

.tagsList li.tagItem:last-child {
  margin: 0;
}

.author {
  color: #323263;
  text-decoration: underline;
}